polkit.addRule(function (action, subject) {
    if (action.id === "com.microsoft.intune.actions.ConfigureDevice") {
        return polkit.Result.YES;
    }
});
